*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* nav bar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    border-bottom: 1px solid #ddd;
    height: 100px;
}
.top-left{
    height: 51px;
    width: 51px;
}
.top-links{
    list-style: none;
    letter-spacing: 1.4px;
    display: flex;
    flex: 1;
}
.nav-links{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-left: 22px;
    font-weight: 700;
    transition: color 0.3s;
}
.nav-links:hover{
    color: #00754A;
}
.location-div{
    display: flex;
    flex: -2;
    
}
.location{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
    padding: 5px 20px;
    transition: color 0.3s;
}
.location:hover{
    color: #00754A;
}
#location-dot{
    font-size: 20px;
}
.top-right{
    position: relative;
    top: 8.75px;
}
.top-right a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s;
}
.signin{
    border: 1px solid black;
    color: black;
    padding: 6px 20px;
    border-radius: 20px;
}
.signin:hover{
    background-color: lightgray;
}
.join{
    color: white;
    border: 1px solid black;
    background-color: black; 
    padding: 6px 12px;
    border-radius: 20px;
}
.join:hover{
    background-color:dimgray;
}


/* start bar */
.start-bar{
    text-align: center;
    text-decoration: none;
    background-color: #32462F;
    color: white;
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    transition: all 0.3s;
}
#cup{
    fill: #ddd;
}
.start-bar:hover{
    background-color:#253322;
}
#arrow{
    position: absolute;
    right: 24px;
}

/* Image 1 */
.img1-section{
    display: flex;
    margin-top: 30px;
}
.img1 img{
    height:100%;
    width:100%;
}
.img1{
    flex: 1;
    align-content: center;
    background-color: #F8F0E5;
}
.img1-text{
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: #F8F0E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5F4633;
    text-align: center;
    
}
.img1-text h2{
    line-height: 24px;
    line-height: 90px;
    font-weight: 600;
    font-size: 24px;
}
.img1-text p{
    max-width: 450px;
    line-height: 1.75;
    font-size: 19px;
    font-weight: 400;
}
.img1-text a{
    line-height: 5.75;
    border: 1px solid #00754A;
    border-radius: 25px;
    padding: 7px 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #00754A;
    transition: all 0.3s;
}
.img1-text a:hover{
    background-color: #188259;
}


/* Image 2 */
.img2-section{
    display: flex;
    margin-top: 30px;
}
.img2 img{
    height:100%;
    width:100%;
}
.img2{
    flex: 1;
    align-content: center;
    background-color: #D1D1AA;
}
.img2-text{
    flex: 1;
    background-color: #D1D1AA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #32472F;
    text-align: center;
}
.img2-text h2{
    line-height: 24px;
    line-height: 90px;
    font-weight: 600;
    font-size: 24px;
}
.img2-text p{
    max-width: 450px;
    line-height: 1.75;
    font-size: 19px;
    font-weight: 400;
}
.freedrink{
    font-weight: bolder;
}
.img2-text a{
    line-height: 5.75;
    border: 1px solid #32472F;
    border-radius: 25px;
    padding: 7px 16px;
    text-decoration: none;
    color: #32472F;
    font-weight: 600;
    transition: all 0.3s;
}
.img2-text a:hover{
    background-color: #BFC29E;
}

/* image 3 */

.img3-section{
    display: flex;
    margin-top: 30px;
}
.img3 img{
    height:100%;
    width:100%;
}
.img3{
    flex: 1;
    align-content: center;
    background-color: #32462F;
}
.img3-text{
    flex: 1;
    background-color: #32462F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.img3-text h2{
    line-height: 24px;
    line-height: 90px;
    font-weight: 600;
    font-size: 24px;
}
.img3-text p{
    max-width: 450px;
    line-height: 1.75;
    font-size: 19px;
    font-weight: 400;    
}
.img3-text a{
    line-height: 5.75;
    border: 1px solid white;
    border-radius: 25px;
    padding: 7px 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
}
.img3-text a:hover{
    background-color: #283826;
}

/* image 4 */
.img4-section{
    display: flex;
    margin-top: 30px;
}
.img4-text{
    flex: 1;
    background-color: #32462F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.img4-text h1{
    line-height: 55px;
    font-weight: 600;
    font-size: 50px;
    max-width: 430px;
    letter-spacing: 2px;
    position: relative;
    bottom: 35px;
}
.img4-text p{
    max-width:450px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -13px;
}
.img4-text a{
    border: 1px solid white;
    border-radius: 25px;
    font-size: 16px;
    padding: 7px 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    top: 35px;
}
.img4-text a:hover{
    background-color: #283826;
}

.img4{
    flex: 1;
    align-items: center;
    background-color: #32462F;
}
.img4 img{
    width: 100%;
    height: 100%;
}

/* image 5 */
.img5-section{
    margin-top: 30px;
    display: flex;
}
.img5{
    flex: 1;
    align-items: center;
    background-color: #32462F;
}
.img5 img{
    width: 100%;
    height: 100%;
}
.img5-text{
    flex: 1;
    background-color: #32462F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.img5-text h1{
    line-height: 55px;
    font-weight: 600;
    font-size: 50px;
    max-width: 430px;
    letter-spacing: 2px;
    position: relative;
    bottom: 35px;
}
.img5-text p{
    max-width: 450px;
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -13px;
}
.img5-text a{
    border: 1px solid white;
    border-radius: 25px;
    font-size: 16px;
    padding: 7px 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: all 0.3s;
    position: relative;
    top: 35px;
}
.img5-text a:hover{
    background-color: #283826;
}


@media screen and (max-width:1440px)
{
 .navbar{
    padding: 12px 20px;
 }  
 .top-links{
    gap: 20px;
    margin-left: 20px;
 }
  .top-right{
    gap: 10px;
  }
}

@media screen and (max-width:1024px) 
{
    .navbar{
        padding: 12px 10px;
    }
    .location{
        display: none;
    }
    .top-links{
        gap: 10px;
        margin-left: 10px;
    }
    .top-right{
        width: 100%;
        top: -1px;
        justify-content: space-between;
        gap: 10px;
    }
}

@media screen and (max-width:988px) 
{   
    .navbar{
        height: 100px;
    }
    .top-links{
        display: none;
    }
    .top-right{
        display: none;
    }
    .img1 img{
        height: auto;
        width: 100%;
    }    
    .img2 img{
        height: auto;
        width: 100%;
    }  
    .img3 img{
        height: auto;
        width: 100%;
    }  
    .img4 img{
        height: 100%;
        width: 100%;
    }  
    .img5 img{
        height: 100%;
        width: 100%;
    }  
}

@media screen and (min-width:767px) and (max-width:988px) 
{
    .img4-text h1{
        font-weight: 600;
        font-size: 24px;
        line-height: 1.75;
    }
    .img4-text p{
        font-size: 19px;
        font-weight: 400;
    }
    .img4-text a{
        top: 25px;
    }
    .img5-text h1{
        font-weight: 600;
        font-size: 24px;
        line-height: 1.75;
    }
    .img5-text p{
        font-size: 19px;
        font-weight: 400;
    }
    .img5-text a{
        top: 15px;
    }
}

@media screen and (max-width: 767px) 
{
    .navbar{
        height: 70px;
    }
    .top-left{
        height: 40px;
        width: 40px;
    }
    /* .top-links{
        width: auto;
        height: auto;
    }
    .top-right{
        width: 100%;
        top: -1px;
        justify-content: space-between;
    } */
    .h{
        width: auto;
        height: auto;
    }
    .img1-section{
        flex-direction: column;
    }
    .img1 img{
        width:100%;
        height: auto;
    }
    .img1-text{
        width: 100%;
        padding: 30px;
    }
    .img1-button a{
        margin-top: 20px;
        text-align: center;
    }

    .img2-section{
        flex-direction: column-reverse;
    }
    .img2 img{
        width: 100%;
        height: auto;
    }
    .img2-text{
        width: 100%;
        padding: 30px;
    }
    .img2-button a{
        margin-top: 20px;
        text-align: center;
    }
    .img3-section{
        flex-direction: column;
    }
    .img3 img{
        width: 100%;
        height: auto;
    }
    .img3-text{
        width: 100%;
        padding: 30px;
    }
    .img3-button a{
        margin-top: 20px;
        text-align: center;
    }   

    /* img 4 */
    .img4-section{
        flex-direction: column-reverse;
    }
    .img4 img{
        width: 100%;
        height: auto;
    }
    .img4-text{
        width: 100%;
        padding: 30px;
    }
    .img4-text h1{
        max-width: 100%;
    }
    .img4-button a{
        top: 10px;
        text-align: center;
    }
    .img5-section{
        flex-direction: column;
    }
    /* .img5 img{
        width: 100%;
        height: auto;
    } */
    .img5-text{
        width: 100%;
        padding: 30px;
    }
    .img5-button a{
        top: 10px;
        text-align: center;
    }
}    


@media screen and (max-width:425px) 
{
    .top-links{
        display: none;
    }
    .top-right{
        display: none;
    }
    .img4-text h1{
        line-height: 1.75;
        font-size: 24px;
        font-weight: 600;
    }
    .img4-text p{
        font-size: 19px;
        font-weight: 400;   
    }
    .img5-text h1{
        line-height: 1.75;
        font-size: 24px;
        font-weight: 600;
    }
    .img5-text p{
        font-size: 19px;
        font-weight: 400;   
    }
}
